body{
  padding: 0;
  margin: 0;
}

#pageTitle{
  margin:0;
  padding:0;
  height: 125px;
  text-align: center;
  vertical-align: middle;
  background-color: slateblue;
  position: relative;
  top: 50%;
}

#searchText{
  height: 32px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid black;

}

#searchFavoriteForm{
 text-align: center;
}

#searchButtonId{
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  background-color: slateblue;
  vertical-align: middle;
  border-radius: 5px;
}

.left-half{
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half{
  background-color: lightpink;
  right: 0px;
  position: absolute;
  height: 100%;
  width: 50%;

}

.whiteFont{
  color: white;
  vertical-align: middle;
}
